.button {
    background-color: #FF8000;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 400px;
    display: block;
}

body {
    background-color: #000000;
}

#buttons_menu {
    position: fixed;
    top: 35%;
    left: 35%;
}

#rooms_table {
    position: fixed;
    left: 25%;
}

#buttons_human_table {
    position: fixed;
    top: 70%;
    left: 70%;
}

#human_id {
    position: fixed;
    top: 60%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#gender {
    position: fixed;
    top: 60%;
    left: 15%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#age {
    position: fixed;
    top: 60%;
    left: 30%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#preliminary_diagnosis{
    position: fixed;
    top: 60%;
    left: 45%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#admission_to_the_hospital{
    position: fixed;
    top: 60%;
    left: 60%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#arrival_date{
    position: fixed;
    top: 60%;
    left: 75%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#approximate_growth{
    position: fixed;
    top: 60%;
    left: 90%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#hair_type{
    position: fixed;
    top: 70%;
    left: 8%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#room_number{
    position: fixed;
    top: 70%;
    left: 23%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
#full_name{
    position: fixed;
    top: 70%;
    left: 38%;
    color:#FF8000;
    border-color: #FF8000;
    background-color: black;
}
.styled-table {
    color: wheat;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: fixed;
}

.styled-table thead tr {
    background-color: #FF8000;
    color: black;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #FF8000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #FF8000;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF8000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FF8000;
}