{% extends  "base.html" %}
{% block title %}Home Page
{% endblock %}
{% block content %}
    <div id="buttons_menu">
        <button onclick="window.location ='/human_data_table'" class="button">Информация о пациентах</button>
        <button onclick="window.location='/room_data_table'" class="button">Информация о палатах</button>
        <button onclick="window.location='/arrival_human_check'" class="button">Просмотр пациентов за заданное число
        </button>
        <button onclick="window.location='/female_age_check'" class="button">Информация о несовершеннолетних пациентках </button>
    </div>
{% endblock %}