{% extends  "base.html" %}
{% block title %}Rooms Table
{% endblock %}
{% block content %}
    <div id="rooms_table">
        <table class="styled-table">
            <thead>
            <tr>
                <th>room_number</th>
                <th>room_id</th>
                <th>room_type</th>
                <th>full_name</th>
                <th>room_phone</th>
            </tr>
            </thead>
            <tbody>
            {% for curr_room in all_rooms %}
                <tr>
                <td>{{ curr_room.room_number }}</td>
                <td>{{ curr_room.room_id }}</td>
                <td>{{ curr_room.room_type }}</td>
                <td>{{ curr_room.full_name }}</td>
                <td>{{ curr_room.room_phone }}</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
    <form method="post" action="{{ url_for('rooms_table_update') }}">
        <label for="room_number"></label><textarea name="room_number" id="room_number_upgrade"
                                                   placeholder="Введите номер комнаты пациента">{{ room_number }}</textarea>
        <label for="room_id"></label><textarea name="room_id" id="room_id_upgrade"
                                               placeholder="Введите идентификационный номер комтаты">{{ room_id }}</textarea>
        <label for="room_type"></label><textarea name="room_type" id="room_type_upgrade"
                                                 placeholder="Введите тип комнаты">{{ room_type }}</textarea>
        <label for="full_name"></label><textarea name="full_name" id="full_name_room_upgrade"
                                                 placeholder="Введите ФИО пациента">{{ full_name }}</textarea>
        <label for="room_phone"></label><textarea name="room_phone"
                                                  id="room_phone_upgrade"
                                                  placeholder="Введите номер комнаты">{{ room_phone }}</textarea>
        <input id="buttons_human_table" type="submit" value="Обновить информацию о комнате" class="button"/>
        <hr class="line_upgrade" color="FF8000"/>

    </form>
    </div>
    <div>
        <form method="post" action="{{ url_for('rooms_table_add') }}">
            <label for="room_number"></label><textarea name="room_number" id="rooms_number_add"
                                                       placeholder="Введите номер комнаты пациента">{{ room_number }}</textarea>
            <label for="room_id"></label><textarea name="room_id" id="room_id_add"
                                                   placeholder="Введите идентификационный номер комтаты">{{ room_id }}</textarea>
            <label for="room_type"></label><textarea name="room_type" id="room_type_add"
                                                     placeholder="Введите тип комнаты">{{ room_type }}</textarea>
            <label for="full_name"></label><textarea name="full_name" id="full_name_room_add"
                                                     placeholder="Введите ФИО пациента">{{ full_name }}</textarea>
            <label for="room_phone"></label><textarea name="room_phone"
                                                      id="room_phone_add"
                                                      placeholder="Введите номер комнаты">{{ room_phone }}</textarea>
            <input id="buttons_human_table_add" type="submit" value="Добавить пациента" class="button"/>
            <hr class="line_add" color="FF8000">

        </form>
    </div>
    <div>
        <form method="post" action="{{ url_for('room_delete') }}">
            <label for="room_id"></label><textarea name="room_id" id="room_id_delete"
                                                   placeholder="Введите идентификационный номер палаты">{{ room_id }}</textarea>
            <input id="buttons_human_table_delete" type="submit" value="Удалить информацию о палате" class="button"/>
            <hr class="line_delete" color="FF8000"/>
        </form>
    </div>
{% endblock %}
